

.yellow{
  color: yellow;
}

.blue{
color: blue;

}

body{
background-color: yellow;

}


.brown{
  color: brown;

}

.white{

  color: white;
}

.purple {
  color: purple;
}

.black {
  color: black;
}



.grey{

  color: grey;
}

.pink {
  color: pink;
}

.green {
  color: green;
}

#typeLine {
/* border-radius: 25px; */
text-align: center;
font-style: italic;
font-size: 40px;
font-weight: bold;
/* border: solid black 2px; */
width: 50%;
margin: auto;
}

h4{

  background-color: orange;
}

h1{
  border-top: solid black 3px;
  border-bottom: solid black 3px;
  text-align: center;
}

#header2{
  text-align: center;
}

.h2h2andh4 {
border: black 3px;

}

.gameButtons {
margin: auto;
display: flex;
flex-direction: column;
width: 33%;
/* align-items: center; */
}

.startBtn {
  margin-left: 15%;
}


.inGame {
  margin: auto;
  /* display: flex; */
  border:dashed;
  height: 400px;
  width: 50%;
  /* flex-direction: column; */

}


.timeSlot{
  text-align: right;
  /* margin-top: 4px;
  margin-right: 4px; */
  padding-right: 4px;
  padding-top: 2px;
  font-size: 30%;

}

#answerArea{
margin-left: 33%;
/* padding-bottom: 1px; */
background-color: pink;
text-align: center;
width: 33%;
margin-bottom:0px;

  /* align-items: center; */

}
#counter{
border-radius: 100px;
background-color: white;
/* padding: 2px; */
width: 5%;
text-align: center;
float: right;
margin-top: 0px;
/* font-size: 20px */
}

#scorePlace{
  font-size: 50px;
  text-align: center;
}
